<div class="collapse navbar-collapse mt-md-2" id="navbar-collapse">
  <ul class="navbar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a href="/admin" class="nav-link" data-bs-toggle="" aria-expanded=""
        aria-controls="">
        <span class="svg-icon text-primary me-2 relative-top--2">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
            <!-- <title>ionicons-v5-c</title> -->
            <polyline points="352 144 464 144 464 256"
              style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
            <path d="M48,368,169.37,246.63a32,32,0,0,1,45.26,0l50.74,50.74a32,32,0,0,0,45.26,0L448,160"
              style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
          </svg>
        </span>
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin_product_view_get" class="nav-link" data-bs-toggle="" aria-expanded="" aria-controls="">
        <span class="svg-icon text-primary me-2 relative-top--2">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
            <!-- <title>ionicons-v5-n</title> -->
            <rect x="48" y="96" width="416" height="304" rx="32.14" ry="32.14"
              style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px" />
            <line x1="16" y1="416" x2="496" y2="416"
              style="stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
          </svg>
        </span>
        Products
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin_users_managment" class="nav-link" data-bs-toggle="" aria-expanded=""
        aria-controls="">
        <span class="svg-icon text-primary me-2 relative-top--2">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
            <!-- <title>ionicons-v5-e</title> -->
            <rect x="128" y="128" width="336" height="336" rx="57" ry="57"
              style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px" />
            <path
              d="M383.5,128l.5-24a56.16,56.16,0,0,0-56-56H112a64.19,64.19,0,0,0-64,64V328a56.16,56.16,0,0,0,56,56h24"
              style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
          </svg>
        </span>
        Users
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin_category_view_get" class="nav-link" data-bs-toggle="" aria-expanded=""
        aria-controls="sidebar-auth">
        <span class="svg-icon text-primary me-2 relative-top--1">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
            <!-- <title>ionicons-v5-s</title> -->
            <polyline points="336 176 225.2 304 176 255.8"
              style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
            <path
              d="M463.1,112.37C373.68,96.33,336.71,84.45,256,48,175.29,84.45,138.32,96.33,48.9,112.37,32.7,369.13,240.58,457.79,256,464,271.42,457.79,479.3,369.13,463.1,112.37Z"
              style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
          </svg>
        </span>
        Category
      </a>
    </li>
  </ul>
</div>
</div>
</nav>