<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign in | Shoehub Admin Panel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Theme styles -->
    <link rel="stylesheet" type="text/css" href="/css/theme.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Vendor -->
    <link rel="stylesheet" type="text/css" href="/css/vendor.min.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJNV6J8RHQ"></script>
</head>


<body class="bg-white">
    <section class="container">
        <div class="row g-0 min-vh-100">
            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                <div class="py-5">
                    <a href="index.html">
                        <img src="/images/svg/logo.svg" alt="">
                    </a>
                    <h4 class="font-weight-normal text-dark mt-5">
                        Admin Login
                    </h4>
                    <form class="w-300 w-lg-350 mt-4" method="post" action="/admin_login">
                        <div class="mb-3">
                            <input type="email" name="email" placeholder="Email"
                                class="form-control form-control-lg bg-pastel-darkblue">
                        </div>

                        <div class="mb-3">
                            <input type="password" name="password" placeholder="Password"
                                class="form-control form-control-lg bg-pastel-darkblue">
                        </div>

                        <input type="submit"
                            class="btn btn-primary btn-lg shadow-light text-uppercase-bold-sm hover-lift mt-4"
                            value="Sign in">
                    </form>
                </div>
            </div>

            <div class="col-lg-6 d-none d-lg-block">
                <div class="bg-cover vw-lg-50 h-lg-100" style="background-image: url('/images/collection/shoes-collection3.jpg');">
                </div>
            </div>
        </div>
    </section>

    <%- include('admin_footer') -%>