<%-include('header') -%>

<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">Enter New Password</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
        <div class="mb-4">
          <form id="confirmPassword" class="contact-form">
            <div class="row" id="inside">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    placeholder="New Password"
                    id="password"
                    class=""
                    autocorrect="off"
                    autocapitalize="off"
                    autofocus=""
                  />
                  <p id="passwordError" class="text-danger text-left"></p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <input
                    type="password"
                    name="confirmPassword"
                    placeholder="Confirm New Password"
                    id="confirmPassword"
                    class=""
                    autocorrect="off"
                    autocapitalize="off"
                    autofocus=""
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="btn mb-3" value="Confirm" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <script src="/js/axios.min.js"></script>
      <script>
        document
          .getElementById("confirmPassword")
          .addEventListener("submit", validation);

        async function validation(event) {
          event.preventDefault();
          const formData = new FormData(event.target);
          try {
            const response = await axios.post(
              "/user_confirm_passwordPost",
              formData,
              {
                headers: {
                  "Content-Type": "application/json",
                },
              }
            );
            if (response.status === 200) {
              window.location.href = "/login";
            }
          } catch (err) {
            if (err.response.status === 400) {
              const errors = err.response.data.error;
              Object.keys(errors).forEach((key) => {
                document.getElementById(key).textContent = errors[key];
              });
            } else {
              alert("Something went wrong");
            }
          }
        }
      </script>

      <%-include('footer') -%>
    </div>
  </div>
</div>
